.git
.gitignore
.venv
venv
env
__pycache__/
*.pyc
frontend
datasets
data_pipeline
models_eval
preprocessed_sidd
preprocessing_pipeline
inference/outputs
tmp_sidd_debug
*.log
J13Wn.jpg
J13Wn_clean.png
